/// @param {String} $element - Element's name
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

/// @param {String} $modifier - Modifier's name
@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

$color-white:       #fff;
$color-sidebar-bg:  #333;
$color-action:      #2980b9;

//// Default style - not relevant
body {
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

.content__section {
    background-color: #f5f5f5;
}

//// News affix
.news-affix {
    $root: &;
    
    position: fixed;
    left: 0;
    top: 50px;
    width: 280px;
    left: -280px;
    transition: 0.3s ease-in-out;
    
    @include e('items') {
        margin: 0;
        padding: 0;
        background-color: $color-sidebar-bg;
    }
    
    @include e('action') {
        display: block;
        color: $color-white;
        padding: 15px 10px;
        
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: darken($color-white, 10%);
            background-color: darken($color-sidebar-bg, 10%);
        }
    }
    
    @include e('item') {
        position: relative;
        overflow: hidden;
        
        &.active {
            #{$root}__action {
                background-color: $color-action;
            }
            
            #{$root}__bar {
                position: absolute;
                z-index: 10;
                background: darken($color-action, 8%);
                left: 0;
                top: 0;
                height: 100%;
                width: 0;
            }
        }
        
        &.completed {
            opacity: .2;
        }
    }
    
    @include e('chapter') {
        margin: 0;
        position: relative;
        z-index: 20;
    }
    
    @include e('title') {
        margin: 0;
        position: relative;
        z-index: 20;
    }
    
    @include e('bar-inverse') {
        display: none;
    }
    
    &.active {
        left: 0;
    }
    
    &.lower {
        width: 60px;
        left: -60px;
        
        &.active {
            left: 0;
        }
    
        #{$root}__bar,
        #{$root}__chapter-text,
        #{$root}__title {
            display: none;
        }
        
        #{$root}__item {
            position: relative;
            overflow: hidden;
            
            &.active {
                #{$root}__action {
                    background-color: $color-action;
                }
                
                #{$root}__bar-inverse {
                    display: block;
                    position: absolute;
                    z-index: 10;
                    background: darken($color-action, 8%);
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
        
        #{$root}__action {
            text-align: center;
        }
    }
}