body {
  font-size: 16px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 26px; }

.content__section {
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid tomato; }

.content__title {
  margin-top: 0; }

.news-affix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  left: -100%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .news-affix__items {
    margin: 0;
    padding: 0;
    background-color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .news-affix__action {
    display: block;
    color: #fff;
    padding: 15px 10px; }
    .news-affix__action:hover, .news-affix__action:focus, .news-affix__action:active {
      text-decoration: none;
      color: #e6e6e6;
      background-color: #1a1a1a; }
  .news-affix__item {
    position: relative;
    overflow: hidden;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    .news-affix__item.active {
      display: block;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 100%;
      -moz-box-flex: 1;
      -ms-flex: 1 0 100%;
      flex: 1 0 100%; }
      .news-affix__item.active .news-affix__action {
        background-color: #2980b9; }
      .news-affix__item.active .news-affix__bar {
        position: absolute;
        z-index: 10;
        background: #226998;
        left: 0;
        top: 0;
        height: 100%;
        width: 0; }
    .news-affix__item:not(.active) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .news-affix__item:not(.active) .news-affix__action {
        padding: 5px 10px; }
      .news-affix__item:not(.active) .news-affix__chapter {
        font-size: 14px; }
      .news-affix__item:not(.active) .news-affix__title {
        font-size: 10px; }
    .news-affix__item.completed {
      opacity: .2; }
  .news-affix__chapter {
    margin: 0;
    position: relative;
    z-index: 20; }
  .news-affix__title {
    margin: 0;
    position: relative;
    z-index: 20; }
  .news-affix__bar-inverse {
    display: none; }
  .news-affix.active {
    left: 0; }
